/* faq.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background: linear-gradient(to right, #4bcaff, #348ac7);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.header-title {
    margin: 0;
    font-size: 36px;
}

.faq-section {
    margin-bottom: 20px;
}

.faq-search {
    text-align: center;
    margin-bottom: 20px; /* Adjusted margin */
}

#search {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-top: 10px; /* Added top padding */
}

.faq-list {
    max-width: 800px;
    margin: 0 auto;
}

.faq-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.faq-item:hover {
    transform: scale(1.05);
}

.faq-question {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.faq-answer {
    font-size: 16px;
    color: #555;
}
